.idea/
*.iml
build/
target/
mockup/
data/
sbt-launch.jar

# Exports are personal - don't version them.
src/main/resources/transactions/*.csv

# Bower dependencies
# Discussion here: http://addyosmani.com/blog/checking-in-front-end-dependencies/
# Run 'bower install' to pull them down.
bower_components/
src/main/resources/web/css/*.css*
!src/main/resources/web/css/reconciler.css
src/main/resources/web/js/libs
src/test/resources/test-web/js/libs
src/test/resources/test-web/css/qunit

# Grunt dependencies
node_modules/
