<div class="row">
	<div class="small-9 columns">
		<h1>{{header}}</h1>
	</div>
	<div class="small-3 columns text-right">
		<a class="button" {{action 'upload'}}>Upload</a>
	</div>
</div>

{{textarea class="csv-textarea" value=csv spellcheck="false"}}
