body {
	color: #434A54;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	background: #E6E9ED;
}

.csv-textarea {
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	width: 100%;
	padding: 1em;
	margin: 0;
	overflow: scroll;
	white-space: nowrap;
	height: 650px;
}

.full {
	max-width: 100%;
}

.diff-correct {
	font-weight: bold;
	color: #43AC6A;
}

.diff-wrong {
	font-weight: bold;
	color: #f04124;
}

.footer {
	text-align: center;
}

.footer .copyright {
	margin: 6px 0 0;
	font-size: 0.7rem;
	color: #666666;
}
