<div class="row">
	<div class="small-12 columns text-center">
		<h1>October, 2014</h1>
	</div>
</div>

<!-- Wrong -->
<div class="row diff-wrong">
	<div class="small-1 columns">12/25/14</div>
	<div class="small-3 columns">Safeway</div>
	<div class="small-1 columns">$3.51</div>
	<div class="small-7 columns">Amount in Mint is $3.50</div>
</div>

<!-- Only in mint -->
<div class="row diff-wrong">
	<div class="small-1 columns">12/25/14</div>
	<div class="small-3 columns">Safeway</div>
	<div class="small-1 columns">$3.51</div>
	<div class="small-7 columns">Transactions is not in YNAB</div>
</div>

<!-- Only in ynab -->
<div class="row diff-wrong">
	<div class="small-1 columns">12/26/14</div>
	<div class="small-3 columns">Safeway</div>
	<div class="small-1 columns">$3.50</div>
	<div class="small-7 columns">Transaction is not in MINT</div>
</div>

<!-- Correct -->
<div class="row diff-correct">
	<div class="small-1 columns">12/26/14</div>
	<div class="small-3 columns">Safeway</div>
	<div class="small-1 columns">$3.50</div>
	<div class="small-7 columns">&nbsp;</div>
</div>

<div class="row diff-paginator">
	<div class="small-12 columns">
		{{date-paginator earliestMonth=earliestMonth latestMonth=latestMonth}}
	</div>
</div>
