<div class="row container">
	<div class="small-12 columns">
		{{outlet}}
	</div>
</div>

<div class="footer">
	<div class="row full">
		<div class="large-12 columns">
			<p class="copyright">Copyright &copy; John Hungerford, 2014</p>
		</div>
	</div>
</div>
