<header class="hero inverted">
	<div class="row full">
		<div class="small-8 columns small-offset-2 text-center">
			{{file-dropzone url=mintUrl message="Drop Transactions Here"}}
		</div>
	</div>
</header>
