<div class="row">
	<div class="small-6 columns">
		<!--upload-csv header="Mint CSV" uploaded="uploadedMint" url=mintUrl-->
		{{file-dropzone url=mintUrl}}
	</div>
	<div class="small-6 columns">
		{{upload-csv header="Ynab CSV" uploaded="uploadedYnab" url=ynabUrl}}
	</div>
</div>
